<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="./../script/toivoa.js"></script>
	<script src="./../script/animation.js"></script>
	<title></title>
</head>
<body>
	<div id="pause-button-wrapper">
		<i class="material-icons" id="pause-button">pause_circle_outline</i>
	</div>
	<div id="play-button-wrapper" class="active">
		<i class="material-icons active" id="play-button">play_circle_outline</i>
	</div>
	<table class="title">
		<tr>
			<td class="btn"><i class="material-icons closer" onclick="window.close()">close</i></td>
			<td class="minimalize btn" onclick=""></td>
			<td class="title-bar"></td>
		</tr>
	</table>
	<div class="main">
		<div class="play-controller">
			<div class="toleft">
				<i class="toleft-icon material-icons">chevron_left</i>
			</div>
			<div class="musicname">
				<div id="title">雪降る町ヴェルタァァァァァァァァ</div>
			</div>
			<div class="toright">
				<i class="toright-icon material-icons">chevron_right</i>
			</div>
		</div>
		<div class="timerwrap">
			<input type="range" id="timerange" value="100" min="0" max="200" data-unit="%">
		</div>
	</div>
	<div class="time-numer">
		<span id="time_over">0:00</span>/<span id="time_under">0:00</span>
	</div>
	<div id="playlist-container">
		<div id="playlist-header"></div>
		<div id="playlist">
			<table id="playlist_table">
				<thead>
					<tr>
						<th class="music-table-name">曲名</th>
						<th class="music-table-path">パス</th>
						<th class="music-table-length">長さ</th>
					</tr>
				</thead>
				<tbody id="playlist_tbody">
				</tbody>
			</table>
		</div>
		<div id="playlist-footer"></div>
	</div>
	<div class="buttom-bar">
		<div class="list-button-wrap">
			<i class="material-icons" id="list-button">playlist_play</i>
		</div>
		<i id="recycle-button" class="material-icons">settings_backup_restore</i>
		<i id="repeat-button" class="material-icons">repeat</i>
	</div>
</body>
</html>